[submodule "coreMQTT"]
	path = components/coreMQTT/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT.git
	branch = v2.1.1
[submodule "components/coreMQTT-Agent/coreMQTT-Agent"]
	path = components/coreMQTT-Agent/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent.git
[submodule "components/backoffAlogrithm/backoffAlgorithm"]
	path = components/backoffAlogrithm/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
